<div class="vh-100 d-flex justify-content-center align-items-center">
    <div id="cuadro" class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="border border-3 border-primary"></div>
          <div class="card bg-white shadow">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" [formGroup]="formularioLogIn" (ngSubmit)="iniciarSesion()">
                <h2 class="fw-bold mb-2 text-uppercase ">Aula Virtual</h2>
                <p class=" mb-5">Ingrese las credenciales de su aula virtual</p>
                <div class="mb-3">
                  <label class="form-label">Rut</label>
                  <input class="form-control" placeholder="Ingrese su rut, sin punto ni guión." type="text" formControlName="rut">
                  <div class="aviso" *ngIf="this.formularioLogIn.get('rut')?.errors?.['required']">
                    El rut no puede quedar vacío
                  </div>
                  <div *ngIf="this.formularioLogIn.get('rut')?.errors?.['minlength']">
                    <div class="aviso">
                        Debe tener como mínimo 8 caracteres.
                    </div>
                  </div>
                  <div *ngIf="this.formularioLogIn.get('rut')?.errors?.['maxlength']">
                    <div class="aviso">
                        Debe tener como máximo 10 caracteres.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <p>Contraseña</p>
                  <input class="form-control" placeholder="Ingrese su contraseña, recuerde que al menos tiene 8 caracteres." type="password" formControlName="password">
                  <div *ngIf="this.formularioLogIn.get('password')?.errors?.['required'] || this.formularioLogIn.get('password')?.touched">
                    Tiene que ingresar la contraseña.
                  </div>
                </div>
                <a id="link-recuperar-contrasena" class="text-primary" href="/recuperar-contrasena">¿Olvidaste la contraseña?</a>
                <div class="container ms-3">
                  <div class="mt-4 botones-ingreso row">
                    <div class="col">
                      <button id="boton-ingresar-alumno" class="btn btn-primary btn-lg" [disabled]="formularioLogIn.invalid" type="button" routerLink="/perfil-alumno"><span class="ingresar">Ingresar como alumno</span></button>
                    </div>
                    <div class="col">
                      <button id="boton-ingresar-profesor" class="btn btn-primary btn-lg" [disabled]="formularioLogIn.invalid" type="submit" routerLink="/perfil-profesor"><span class="ingresar">Ingresar como profesor</span></button>
                    </div>
                  </div>
                </div>
                <div id="boton-volver" class ="text-center"> 
                    <button routerLink="/" class="btn btn-primary text-center mt-2">Volver a la página principal</button>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>