<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="border border-3 border-primary"></div>
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4">
                <h2 class="fw-bold mb-2 text-uppercase ">Aula Virtual</h2>
                <p class=" mb-5">Ingrese  las credenciales del aula virtual del alumno</p>
                <div class="mb-3">
                  <label for="email" class="form-label ">Rut alumno</label>
                  <input type="email" class="form-control" id="email" placeholder="Rut alumno, sin puntos, ni guión">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">Contraseña</label>
                  <input type="password" class="form-control" id="password" placeholder="*******">
                </div>
                <p class="small"><a class="text-primary" routerlink="/recuperar-contrasena">¿Olvidaste la contraseña?</a></p>
                <div>
                    <a id="boton-ingresar" href="/perfil-aula-virtual" class="btn btn-primary">Ingresar</a>
                </div>
                <div class ="text-center"> 
                    <button routerLink="/" class="btn btn-primary text-center mt-2"  type="submit">Volver a la página principal</button>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>