.ingresar{
    font-size:large;
}

#boton-ingresar-profesor{
    margin-bottom: 3%;
    width: fit-content;
}

#link-recuperar-contrasena{
    margin-top: 2%;
    text-decoration: none;
}

#link-aula-virtual-alumno{
    text-decoration: none;
}