<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="border border-3 border-primary"></div>
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form [formGroup]="formularioNuevaContrasena" class="mb-3 mt-md-4">
                            <h2 id="texto-informativo" class="fw-bold mb-2 text-uppercase ">Configure una nueva contraseña para su aula virtual</h2>
                            <div id="boton-volver" class ="text-center"> 
                                <div class="mb-3">
                                    <!-- CASILLA CONTRASEÑA -->
                                    <input class="form-control" formControlName="contrasena" type="password">
                                    <!-- CASILLA CONTRASEÑA -->
                                </div>
                                <div class="mb-3">
                                    <!-- CASILLA COPIA CONTRASEÑA -->
                                    <input class="form-control" type="text" formControlName="copiaContrasena" type="password">
                                    <!-- CASILLA COPIA CONTRASEÑA -->
                                </div>
                                <div class ="text-center"> 
                                        <button id="boton-ingresar-alumno" class="btn btn-primary text-center mt-2" routerLink="/nueva-contrasena-lista" type="submit" [disabled]="formularioNuevaContrasena.invalid">Confirmar</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>