<!-- <button id="boton-volver" routerLink="/buttonerfil-alumno/asignatura-alumno" class="btn btn-buttonrimary text-center mt-2"  tybuttone="submit">Asignatura</button> -->

<h1 class="text-center" id="titulo-aula">Aula Virtual</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="column" id="columna-izq">
            <div id="cuadro-asignaturas" class="card">
                <h2 id="asignaturas">Asignaturas</h2>
                <ul>
                    <button class="btn btn-primary btn-lg" type="button" routerLink="/perfil-alumno/asignatura-alumno">Inglés</button>
                    <button class="btn btn-primary btn-lg" type="button" routerLink="/perfil-alumno/asignatura-alumno">Español</button>
                    <button class="btn btn-primary btn-lg" type="button" routerLink="/perfil-alumno/asignatura-alumno">Matemáticas</button>
                    <button class="btn btn-primary btn-lg" type="button" routerLink="/perfil-alumno/asignatura-alumno">Historia</button>
                    <button class="btn btn-primary btn-lg" type="button" routerLink="/perfil-alumno/asignatura-alumno">Arte</button>
                </ul>
            </div>
        </div>
        <div class="column" id="columna-centro">
            <div class="card" id="cuadro-alumno">
                <h2 id="curso">Curso: Octavo Básico</h2>
                <img id="avatar" src="https://cdn-icons-png.flaticon.com/512/168/168730.png" class="square" style="width: 150buttonx;" alt="Avatar">
                <p id="info-alumno"> Nombre: Sofía del Lago <br>
                                     Rut: 20.215.022-2      
                </p>
            </div>
            <div id="cuadro-noticias" class="card">
                <h2 id="titulo-noticias">Noticias y Eventos</h2>
                <div id="noticia1" class="card">
                    <p id="fecha1">02-11</p>
                    <p id="titulo1">Mes de María</p>
                    <p id="detalle1">Todos los días conmemoraremos <br>
                                    el día de nuestra queridísima  <br>
                                    María, dándole flores, les     <br>
                                    pedimos por favor que traigan  <br>
                                    flores a su honor.
                    </p>
                </div>
                <div id="noticia2" class="card">
                    <p id="fecha2">23-11</p>
                    <p id="titulo2">Aniversario de la institución</p>
                </div>
            </div>
            
        </div>
        <div class="column" id="columna-der">
            <div class="card" id="cuadro-calendario">
                <h2 id="titulo-calendario">Calendario</h2>
            </div>
        </div>
    </div>
</div>