<h1 class="text-center" id="titulo-aula">Aula Virtual</h1>
<hr>
<div class="row" id="botones-arriba">
    <button type="button" id="boton-volver" class="btn btn-secondary" routerLink="/perfil-profesor">Volver al perfil</button>
</div>

<div class="row">
    <div class="tabs">
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
            <label for="tab-1" class="tab-label">Información General</label>
            <div class="tab-content">
                <div class="card" id="info">
                    <br>
                    <h4>Asignatura</h4>
                    <p class="detalles">Lenguaje</p>
                    <br>
                    <h4>Docente Responsable</h4>
                    <p class="detalles">Carmen Henríquez</p>
                </div>
                <br>
                <br>
                <div id="cuadro-documentos">
                    <h4 id="titulo-documentos">Documentos</h4>
                    <div id="documentos">
                        <ul>
                            <li> <a href="#" onClick="return false;">Programa semestral</a> </li>
                            <li> <a href="#" onClick="return false;">Planificación</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
            <label for="tab-2" class="tab-label">Módulo 1</label>
            <div class="tab-content">
                <div class="row">
                    <div class="column col-50">
                        <br>
                        <h4 class="modulo-titulo text-decoration-underline">Comprensión Lectora: Fábulas</h4>
                        <br>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">El perro y su reflejo</a> </li>
                            <li> <a href="#" onClick="return false;">La tortuga y la liebre</a> </li>
                            <li> <a href="#" onClick="return false;">La rana sorda</a> </li>
                            <li> <a href="#" onClick="return false;">El gato y el ratón</a> </li>
                        </ul>
                        <br>
                        <h4 class="modulo-titulo">Actividades</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">¿De qué trataba la fábula "La tortuga y la liebre"?</a> </li>
                            <li> <a href="#" onClick="return false;">Cree una fábula</a> </li>
                        </ul>
                        <h4 class="modulo-titulo">Evaluaciones</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">¿Qué son las fábulas?</a> </li>
                            <li> <a href="#" onClick="return false;">¿Qué nos enseñan las fábulas? De ejemplos y argumente</a> </li>
                        </ul>
                    </div>
                    <div class="column col-50">
                        <img src="https://www.etapainfantil.com/wp-content/uploads/2019/01/Fabulas-Esopo-700x433.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
            <label for="tab-3" class="tab-label">Módulo 2</label>
            <div class="tab-content">
                <div class="row">
                    <div class="column col-50">
                        <br>
                        <h4 class="modulo-titulo text-decoration-underline">Comprensión Lectora: Libros populares</h4>
                        <br>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">El principito</a> </li>
                            <li> <a href="#" onClick="return false;">Manolito Gafotas</a> </li>
                        </ul>
                        <br>
                        <h4 class="modulo-titulo">Actividades</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">¿De qué trataba "El principito"?</a> </li>
                            <li> <a href="#" onClick="return false;">¿De qué trataba "Manolito Gafotas"?</a> </li>
                        </ul>
                        <h4 class="modulo-titulo">Evaluaciones</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">Decida uno de los dos libros en el aula y escriba de qué trataba y cuáles eran las ideas principales de este</a> </li>
                        </ul>
                    </div>
                    <div class="column col-50">
                        <img src="https://hips.hearstapps.com/ellees.h-cdn.co/assets/15/37/original/original-e6-a96e-7d24097c3758ocio-libros-infantiles-adultos-el-principito-12103806-1-esl-es-el-principito-jpg.jpg" alt="">
                    </div>
                </div>    
            </div>
        </div>
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
            <label for="tab-4" class="tab-label">Módulo 3</label>
            <div class="tab-content">
                <div class="row">
                    <div class="column col-50">
                        <br>
                        <h4 class="modulo-titulo text-decoration-underline">Comprensión Lectora: Metáforas</h4>
                        <br>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">¿Qué son las metaforas?</a> </li>
                            <li> <a href="#" onClick="return false;">Algunas metáforas y sus explicaciones</a> </li>
                            <li> <a href="#" onClick="return false;">¿Para qué podríamos usar metáforas?</a> </li>
                        </ul>
                        <br>
                        <h4 class="modulo-titulo">Actividades</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">Escriba una metáfora y explíquela</a> </li>
                        </ul>
                        <h4 class="modulo-titulo">Evaluaciones</h4>
                        <ul class="modulo-archivos">
                            <li> <a href="#" onClick="return false;">Invente una metáfora o elija una de las leídas y argumente</a> </li>
                        </ul>
                    </div>
                    <div class="column col-50">
                        <img src="https://t1.pbb.ltmcdn.com/es/posts/3/1/6/el_tiempo_vale_oro_5613_6_600.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>