<!-- CARRUSEL -->
  <ngb-carousel>
    <ng-template ngbSlide >
      <div class="picsum-img-wrapper">
        <img src="https://i.ibb.co/cbMwWPM/Captura-de-pantalla-7.png" alt="Angular Carousel 1">
      </div>
        <div class="carousel-caption">
        <p>Admisiones abiertas</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://i.ibb.co/5kdSFNG/Captura-de-pantalla-6.png" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <p>Excelencia en educación.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- CARRUSEL -->

  <div>
      <hr> <!-- LINEA HORIZONTAL -->
      <div style="color:darkslategray ;">
        <h2 class="title-section text-center">Noticias</h2>
      </div>
      <!-- SECCIÓN NOTICIAS - CARTAS DE NOTICIAS-->
      <div class="recuadro-noticias">
          <section id="focus" class="focus-section">
            <div class="container-lg py-5">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="card-image">
                                <div class="hover-text">
                                    <img src="https://i.pinimg.com/564x/4e/63/c4/4e63c4316e25a4ace4314efc6d291d2c.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="image-overlay"></div>
                            </div>
                            <div class="card-body">
    
                                <h3 class="card-title">Victoria para el equipo de Voleyball "Colegio de Ensueños"</h3>
                                <p class="card-text">Nos da placer presentarles a las ganadores del torneo nacional 
                                    de Voleyball
                                    femenino
                                    , primer lugar, que honor para nuestra institución 
                                    nuestras ganadoras son: 
                                    Juanita Perez, Perla Santos, Linda Collins,
                                    Karen Rogers, Mildred Ellis y Cindy Gathers.</p>
                            </div>
                            <div class="card-footer py-3">
                                <div class="card-footer__info">
                                    <span><i class="far fa-calendar-alt"></i> 22/08/2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="card-image">
                                <img src="https://i.ytimg.com/vi/S-8ZN0M82b0/maxresdefault.jpg" class="card-img-top" alt="...">
                                <div class="image-overlay"></div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Nuevas salas de clases aptas para la distancia social</h3>
                                <p class="card-text">Dado el incremento de casos de la enfermedad de la pandemia
                                    hemos decidido tomar nuevas normas,
                                    por lo cual, 
                                    hemos distanciado los puestos de los alumnos a
                                    1 mt cada uno, ventanas abiertas todo el día,
                                    todo sea por cuidar a nuestra preciada comunidad.</p>
                            </div>
                            <div class="card-footer py-3">
                                <div class="card-footer__info">
                                    <span>29/08/2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm h-100">
                            <div class="text-img-over">
                                <img src="https://media.istockphoto.com/vectors/life-coach-counselling-vector-id1187556840?k=20&m=1187556840&s=612x612&w=0&h=UdTm1RYrzEHAhPtHbtlLnbkgojmeXqlDfKwDSGsy3HI=" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Contamos con más profesionales para la salud mental de nuestra comunidad</h3>
                                <p class="card-text">Dada la necesidad de cuidar nuestra salud mental, importantísima,
                                    ya que influye directamente con nuestro rendimiento, donde sea,
                                    incluiremos más profesionales,
                                    para que todos tengan la oportunidad
                                    de hablar con un experto y poder desahogarse, queremos mucho a nuestra comunidad.</p>
                            </div>
                            <div class="card-footer py-3">
                                <div class="card-footer__info">
                                    <span>05/09/2022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </div>
              <!-- SECCIÓN NOTICIAS - CARTAS DE NOTICIAS-->
      <hr> <!-- LINEA HORIZONTAL -->
  </div>