<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="border border-3 border-primary"></div>
                <div class="card bg-white">
                    <div class="card-body p-5">
                        <form class="mb-3 mt-md-4">
                            <h2 class="fw-bold mb-2 text-uppercase ">Correo enviado</h2>
                            <p class=" mb-5">Te hemos enviado un correo con un link que te permite configurar una nueva contraseña para tu cuenta.</p>
                            <div id="boton-volver" class ="text-center"> 
                                <a href="/ingreso-aula-virtual">Volver a la página de ingreso al aula virtual <br> </a>
                                <a href="/nueva-contrasena">Probar la página de reinicio de contraseña</a>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>