<!DOCTYPE html>
<!-- ESTA ES LA PLANTILLA QUE UTILICÉ https://gosnippets.com/snippets/bootstrap-5-cards-gallery-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="galeria.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-primary text-center">Galeria</h2>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
    
                        <img src="https://www.io.maristas.cl/data/infraestructura/resumen/galeria/thumb3-visor/DSC_0570%201_thumb.jpg" class="card-image-top" alt="thumbnail">
    
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Áreas verdes</a></h3>
                            <p class="card-text">Apoyamos las áreas verdes, por lo mismo tenemos para que toda nuestra comunidad pueda disfrutar de estas. </p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
    
                        <img src="https://www.io.maristas.cl/data/infraestructura/resumen/galeria/thumb3-visor/DSC_0875_thumb.jpg" class="card-image-top" alt="thumbnail">
    
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Sala de psicomotricidad</a></h3>
                            <p class="card-text">Tenemos una sala de psicomotricidad, para apoyar a nuestra comunidad a dominar sus movimientos corporales de una forma sana.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
    
                        <img src="https://www.io.maristas.cl/data/infraestructura/biblioteca_libros/galeria/thumb3-visor/DSC_0189_thumb.JPG" class="card-image-top" alt="thumbnail">
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Biblioteca</a></h3>
                            <p class="card-text">Apoyamos la constante educación de nuestra comunidad</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <img src="https://www.io.maristas.cl/data/infraestructura/capilla/galeria/thumb3-visor/CAPILLA%20PRINCIPAL_thumb.JPG" class="card-image-top" alt="thumbnail">
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Capilla</a></h3>
                            <p class="card-text">Somos una comunidad que apoya la iglesia y la presencia de Dios.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
    
                        <img src="https://www.io.maristas.cl/data/infraestructura/casinos/galeria/thumb3-visor/CASINO_thumb.JPG" class="card-image-top" alt="thumbnail">
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Casino</a></h3>
                            <p class="card-text">El Casino cuenta con un amplio y cómodo espacio.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
    
                        <img src="https://www.io.maristas.cl/data/infraestructura/espacios_deportivos/galeria/thumb3-visor/DSC_0289_thumb.jpg" class="card-image-top" alt="thumbnail">
    
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Espacios deportivos</a></h3>
                            <p class="card-text">Apoyamos la actividad física, por lo cual, constamos de varios espacios para la actividad física.</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>