<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="border border-3 border-primary"></div>
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4">
                <h2 class="fw-bold mb-2 text-uppercase ">Recuperar su contraseña</h2>
                <p class=" mb-5">Te enviaremos un correo para que puedas configurar tu nueva contraseña</p>
                <div class="mb-3">
                  <label for="email" class="form-label ">Correo institucional</label>
                  <input type="email" class="form-control" formControlName="correo" placeholder="Ingrese su correo institucional">
                  <div *ngIf="this.formularioRecuperarContrasena.get('correo')?.errors?.['required']">
                    <div id="aviso">
                        Tiene que ingresar su correo institucional.
                    </div>
                </div>
                </div>
                <div id="enviar" class ="text-center"> 
                    <a href="/recuperar-contrasena-listo" class="btn btn-primary text-center mt-2"  type="submit">Confirmar</a>
                </div>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>