.column {
    float: left;
    width: 33.33%;
}

/* RESPONSIVIDAD */
@media screen and (max-width: 1190px) {
    .column {
        width: 100%;
    }
}
/* RESPONSIVIDAD */

/* CARTA */
.columna-carta {
    float: left;
    width: auto;  
    position:relative;
    display:block;
    justify-content: center;
    margin-left: 90px;
}

#carta-datos{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.card-title{
    font-size: 25px;
}

.card-text{
    font-size: 15px;
}
/* CARTA */

/* FORMULARIO DE CONTACTO */
#texto-contactenos{
    margin-top: 20px;
    margin-bottom: 20px;
}

#columna-formulario{
    position:relative;
    display:block;
}

.form-group{
    margin-left: 15px;
    width: 95%;
    height: auto;
}

.adjuntar{
    width: 90%;
    height: auto;
    margin-left: 30px;
}

.enviar{
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto-bajo-formulario{
    margin-top: 20px;
    margin-bottom: 50px;
}
/* FORMULARIO DE CONTACTO */

/* MAPA */
.mapa{
    float: left;
    width: auto;  
    position:relative;
    display:block;
    justify-content: center;
    width: 20%;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.texto-mapa{
    color: cornflowerblue;
    margin-left: 97px;
}
/* MAPA */