<!-- ESTA ES LA PLANTILLA QUE UTILICÉ https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-navbar.php -->
<!-- NO ABRE EL MENÚ HAMBURGUESA -->
<div class="m-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a href="#" class="navbar-brand">
              <img src="https://i.ibb.co/Bqyv1sK/2490399.png" height="28" alt="Colegio de Ensueños">
          </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                  <a class="nav-link" routerLink="/galeria">Galeria</a>
                  <a class="nav-link" routerLink="/contacto">Contacto</a>
              </div>
              <div class="navbar-nav ms-auto">
                <a class="nav-link" routerLink="/ingreso-aula-virtual">Ingresar al Aula Virtual</a>
              </div>
          </div>
      </div>
  </nav>
</div>