<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
    <img src="https://www.colegiohuguet.cl/storage/2020/03/titulo-pagina.png" class="imagen-arriba" />
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://i.ibb.co/C25ZJ9D/imagen-2.png" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mt-4 pt-2 text-right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="separador-arriba">
                        <div class="col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://i.ibb.co/p1jpDNN/imagen1.png" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="https://i.ibb.co/B6DRr8K/imagen-3.png" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
            <div class="texto-nosotros">
                <h3 class="text-custom font-weight-normal mb-3">Nosotros</h3>
                <h5 class="title mb-4">
                    Nuestra misión:  <br />
                    Consolidar una comunidad educativa a partir del <br />
                    mejoramiento de la infraestructura y establecimiento <br />
                    de un proyecto pedagógico que ofrezca a sus alumnos <br />
                    una formación académica y personal de calidad, <br />
                    en un ambiente de sana convivencia, de acuerdo a <br />
                    los principios del colegio y las exigencias del <br />
                    Ministerio de Educación de Chile.
                </h5>
                <p class="text-muted mb-0">Promovemos una sociedad más justa y solidaria para que los niños, 
                    niñas y adolescentes formados en nuestro Colegio, lleguen a ser buenos cristianos y buenos ciudadanos, 
                    mediante el desarrollo de sus capacidades y valores, a fin de ponerlos al servicio de los demás, según su propia vocación.</p>
            </div>
        </div>
        <!--end col-->
    </div>

    <!--end row-->
    <div class="separador-abajo"
    ></div>
</div>