body{
    margin-top:20px;
    background:#F0F8FF;
    }
    .text-custom{
    color: #0062ff !important;
    }

.separador-arriba{
    margin-top: 30px;
}
.separador-abajo{
    margin-bottom: 20px;
}

.imagen-arriba{
    margin-top: 20px;
    margin-bottom: 50px;
}

/* RESPONSIVIDAD */
@media screen and (max-width: 600px) {
    .row{
        width: 100%;
    }
}
/* RESPONSIVIDAD */